.cores{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 120px;
  padding: 0px 30px 20px 30px;
}

#ex1{
  float: left;
  clear: right;
  width: 33%;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-left: -10px;
}
#ex2{
  float: left;
  width: 33%;
  text-align: center; 
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  
}

#ex3{
  float: left;
  text-align: center;
  width: 33%;
  border: 1px solid black;
}
.paragrafos {
  display: flex;
  flex-direction: row;
  padding: 0px 30px 0px 30px;
  margin-left: 30px;
}

#ex4{
  float: left;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-image: url(https://i0.statig.com.br/bancodeimagens/94/2d/f5/942df5vk190ginjaxgbof2c4z.jpg);
  color: bisque;
  background-size: cover;
}

.btn4{
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  justify-content: center;
  margin-top: 6%;

}
.btn4:hover {background-color:rgb(64, 112, 216)}

#ex6e7e8{
  float: left;
  width: 50%;
  height: auto;
  border-left: 1px solid black;
  padding: 0px 30px 0px 30px;
  font-size: 18px;
}

.btn6e7e8{
  justify-content: center;
  height: 30px;
  width: 115px;
  border-radius: 30px;
  border: 1px solid black;
}

.btn6e7e8:hover {background-color:rgb(64, 112, 216)}

.btn6e7e8:active {
  background-color:rgb(64, 112, 216);
  box-shadow: 0 5px #dad6d6f3;
  transform: translateX(1px);
}

.forms{
  /* display: flex;
  flex-direction: row;
  padding: 0px 30px 0px 30px;
  text-align: center; */
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: 30px;
}

#ex5{
  float: left;
  text-align: center;
  justify-content: center;
  width: 33%;
  padding: 30px 30px 0px 30px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#ex9{
  float: left;
  text-align: center;
  justify-content: center;
  width: 33%;
  padding: 30px 30px 0px 30px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;

}
#ex10{
  float: left;
  text-align: center;
  justify-content: center;
  width: 33%;
  padding: 30px 30px 0px 30px;
  border: 1px solid black;
}
/* 
#form-CPF{
  display: none;
}
#form-CPNJ{
  display: none;
} */